.progress-bar {
	position: relative;
	width: 100%;
	background-color: #888;
}

.progress-text {
	padding: 3px 5px;
	color: #fff;
	text-align: left;
	white-space: nowrap;
}

.budget-progress {
	width: 0;
	height: 100%;
}

.green-progress {
	background-color: #00bc00;
}

.yellow-progress {
	background-color: #bcbc00;
}

.red-progress {
	background-color: #bc0000;
}

.day-marker {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-right: 2px solid #000;
}
