<section class="uncategorized-transactions">
	<h2>Uncategorized Transactions</h2>
	<mat-list>
		<ng-template ngFor [ngForOf]="transactionsByDate" let-transactionByDate>
			<h3 mat-subheader>{{transactionByDate.key | localdate}}</h3>

			<mat-list-item *ngFor="let transaction of transactionByDate.values" class="list-box">
				<p mat-line class="align-left">{{transaction.description}}</p>
				<p mat-line class="align-left">
					<amount [amount]="transaction.amount"></amount>
				</p>
				<mat-form-field>
					<mat-select placeholder="Categories" (change)="categorizeTransaction(transaction, $event.value)">
						<mat-option *ngFor="let category of categories" [value]="category.categoryId">
							{{category.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-list-item>
		</ng-template>
		<p *ngIf="transactionsByDate.length === 0">
			There is no uncategorized transactions.
		</p>
	</mat-list>
</section>
