<section>
	<h2>Uncategorized Transactions</h2>
	<md-list>
		<ng-template ngFor [ngForOf]="transactionsByDate" let-transactionByDate>
			<h3 md-subheader>{{transactionByDate.key | localdate}}</h3>

			<md-list-item *ngFor="let transaction of transactionByDate.values" class="list-box">
				<p md-line class="align-left">{{transaction.description}}</p>
				<p md-line class="align-left">
					<amount [amount]="transaction.amount"></amount>
				</p>
				<md-select placeholder="Categories" (change)="categorizeTransaction(transaction, $event.value)">
					<md-option *ngFor="let category of categories" [value]="category.categoryId">
						{{category.name}}
					</md-option>
				</md-select>
			</md-list-item>
		</ng-template>
	</md-list>
</section>
