<section>
	<section class="scrollable">
		<h1>Budgets</h1>
		<month-picker [(month)]="month"></month-picker>
		<p *ngIf="cashFlowLabel">
			{{cashFlowLabel}} :
			<span [ngClass]="{'amount-green': cashFlow >= 0, 'amount-red': cashFlow < 0}">
				{{cashFlow | number:'1.2-2'}}
			</span>
		</p>
		<p *ngIf="cashFlowWithoutInvestmentLabel">
			{{cashFlowWithoutInvestmentLabel}} :
			<span [ngClass]="{'amount-green': cashFlowWithoutInvestment >= 0, 'amount-red': cashFlowWithoutInvestment < 0}">
				{{cashFlowWithoutInvestment | number:'1.2-2'}}
			</span>
		</p>
		<mat-list *ngIf="monthStats" class="list">
			<budget-list-item [name]="'Month\'s total budget'"
							  [currentAmount]="spendingTotal"
							  [plannedMaxAmount]="monthStats.totalPlannedMaxAmount"
			></budget-list-item>
			<budget-list-item [name]="'Month\'s total budget minus investments'"
							  [currentAmount]="spendingTotalMinusInvestments"
							  [plannedMaxAmount]="totalPlannedMaxAmountMinusInvestments"
			></budget-list-item>
		</mat-list>
		<ng-container *ngIf="incomeBudgets.length > 0">
			<h3>Income</h3>
			<mat-list class="list">
				<budget-list-item *ngFor="let budget of incomeBudgets"
								  [name]="budget.category.name"
								  [currentAmount]="budget.currentAmount"
								  [plannedMaxAmount]="budget.plannedMaxAmount"
								  [routerLink]="['/budget', budget.budgetId]"
								  [income]="true"
				></budget-list-item>
			</mat-list>
		</ng-container>
		<ng-container *ngIf="spendingBudgets.length > 0">
			<h3>Spending</h3>
			<mat-list class="list">
				<budget-list-item *ngFor="let budget of spendingBudgets"
								  [name]="budget.category.name"
								  [currentAmount]="budget.currentAmount"
								  [plannedMaxAmount]="budget.plannedMaxAmount"
								  [routerLink]="['/budget', budget.budgetId]"
				></budget-list-item>
			</mat-list>
		</ng-container>
		<mat-list class="list">
			<budget-list-item *ngIf="everythingElseBudget"
							  [name]="'Everything else'"
							  [currentAmount]="everythingElseBudget.currentAmount"
							  [plannedMaxAmount]="everythingElseBudget.plannedMaxAmount"
							  [routerLink]="['/budget', everythingElseBudget.budgetId]"
			></budget-list-item>
		</mat-list>
	</section>
	<button mat-fab (click)="showAddBudgetDialog()" class="main-fab">
		<mat-icon>add</mat-icon>
	</button>
</section>
