<section>
	<section class="scrollable">
		<h1>Budgets</h1>
		<month-picker [(month)]="month"></month-picker>
		<p *ngIf="cashFlowLabel">
			{{cashFlowLabel}} :
			<span [ngClass]="{'amount-green': cashFlow >= 0, 'amount-red': cashFlow < 0}">
			{{cashFlow | number:'1.2-2'}}
		</span>
		</p>
		<mat-list class="list">
			<mat-list-item *ngIf="monthStats" class="list-box">
				<p mat-line>
					<span class="budget-title">Month's Total Budget</span>
					<span class="budget-amount">
					{{ (monthStats.totalPlannedMaxAmount - monthStats.currentAmount) |  number:'1.2-2'}} left
				</span>
				</p>
				<budgetProgress mat-line [currentAmount]="monthStats.currentAmount"
								[plannedMaxAmount]="monthStats.totalPlannedMaxAmount">
				</budgetProgress>
			</mat-list-item>
		</mat-list>
		<h3 *ngIf="incomeBudgets.length > 0">Income</h3>
		<mat-list *ngIf="incomeBudgets.length > 0" class="list">
			<a *ngFor="let budget of incomeBudgets" [routerLink]="['/budget', budget.budgetId]">
				<mat-list-item class="list-box">
					<p mat-line>
						<span class="budget-title">{{budget.category.name}}</span>
					</p>
					<budgetProgress mat-line
									[income]="true"
									[currentAmount]="budget.currentAmount"
									[plannedMaxAmount]="budget.plannedMaxAmount">
					</budgetProgress>
				</mat-list-item>
			</a>
		</mat-list>
		<h3>Spending</h3>
		<mat-list *ngIf="spendingBudgets.length > 0" class="list">
			<a *ngFor="let budget of spendingBudgets" [routerLink]="['/budget', budget.budgetId]">
				<mat-list-item class="list-box">
					<p mat-line>
						<span class="budget-title">{{budget.category.name}}</span>
						<span class="budget-amount">
						{{ (budget.plannedMaxAmount - budget.currentAmount) |  number:'1.2-2'}} left
					</span>
					</p>
					<budgetProgress mat-line [currentAmount]="budget.currentAmount"
									[plannedMaxAmount]="budget.plannedMaxAmount">
					</budgetProgress>
				</mat-list-item>
			</a>
		</mat-list>
		<mat-list class="list">
			<a *ngIf="everythingElseBudget" [routerLink]="['/budget', everythingElseBudget.budgetId]">
				<mat-list-item class="list-box">
					<p mat-line>
						<span class="budget-title">Everything Else</span>
						<span class="budget-amount">
					{{ (everythingElseBudget.plannedMaxAmount - everythingElseBudget.currentAmount) |  number:'1.2-2'}} left
				</span>
					</p>
					<budgetProgress mat-line [currentAmount]="everythingElseBudget.currentAmount"
									[plannedMaxAmount]="everythingElseBudget.plannedMaxAmount">
					</budgetProgress>
				</mat-list-item>
			</a>
		</mat-list>
	</section>
	<button mat-fab (click)="showAddBudgetDialog()" class="main-fab">
		<mat-icon>add</mat-icon>
	</button>
</section>
