<section>
	<md-card class="login-box">
		<form #loginForm="ngForm">
			<md-card-title class="title">Login</md-card-title>
			<md-card-content>
				<div>
					<md-input-container class="control-full-width">
						<input mdInput [(ngModel)]="username" name="username" placeholder="Username"
							   required/>
					</md-input-container>
				</div>
				<div>
					<md-input-container class="control-full-width">
						<input mdInput type="password" [(ngModel)]="password" name="password" placeholder="Password"
							   required/>
					</md-input-container>
				</div>
				<md-error [hidden]="errorMessage != ''">{{errorMessage}}</md-error>
				<button (click)="login(username, password)" [disabled]="!loginForm.valid"
						md-raised-button color="primary" class="login-button control-full-width">
					Login
				</button>
			</md-card-content>
		</form>
	</md-card>
</section>
