<section>
	<h2>Imports</h2>
	<form #importForm="ngForm" class="form">
		<mat-form-field class="form-element">
			<input matInput type="password" [(ngModel)]="password" name="password" placeholder="Password" required/>
		</mat-form-field>
		<mat-form-field class="form-element">
			<mat-select [(ngModel)]="rememberPassword" placeholder="Remember password for" required id="rememberPassword" name="rememberPassword">
				<mat-option [value]="0">Never</mat-option>
				<mat-option [value]="604800">A week</mat-option>
			</mat-select>
		</mat-form-field>
		<button (click)="import()" mat-raised-button color="primary"
				[disabled]="!importForm.valid || isImportInProgress()"
				class="submit-button">
			Import
		</button>
	</form>
	<button (click)="stopAutoImports()" mat-raised-button>
		Stop Auto Imports
	</button>
	<section>
		<p [ngClass]="{'message-error': getLastImportErrorMessage(), 'message-success': !getLastImportErrorMessage()}"
		   class="message">
			{{getLastImportErrorMessage() ? getLastImportErrorMessage() : 'Import successful'}}
		</p>
		<div class="spinner-wrapper">
			<mat-spinner *ngIf="isImportInProgress()" class="spinner"></mat-spinner>
		</div>
	</section>
</section>
