section {
	margin: 25px 0;
}

.form {
	min-width: 150px;
	max-width: 300px;
	width: 100%;
	margin: 25px auto;
	text-align: center;
}

.form-element {
	width: 100%;
	margin: 10px 0;
}

.submit-button {
	margin-top: 10px;
}

.spinner-wrapper {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 50px auto;
}

.message {
	margin: 10px;
}

.message-success {
	color: #080;
}

.message-error {
	color: #800;
}
