<section>
	<h2>{{budgetName}} Budget</h2>
	<div *ngIf="budget">
		<section class="details">
			<budgetProgress [income]="budget.income"
							[currentAmount]="budget.currentAmount"
							[plannedMaxAmount]="budget.plannedMaxAmount">
			</budgetProgress>
			<div class="fields">
				<mat-checkbox [(ngModel)]="budget.income" name="income">
					Income budget
				</mat-checkbox>
				<mat-checkbox [(ngModel)]="budget.investment" name="investment">
					investment budget
				</mat-checkbox>
				<mat-form-field>
					<input matInput [(ngModel)]="budget.plannedMaxAmount" type="number" placeholder="Planned Max Amount">
				</mat-form-field>
				<button (click)="updateBudget()" mat-raised-button color="primary">
					Update
				</button>
			</div>
		</section>
		<transactions [transactions]="budget.transactionsByDate"></transactions>
	</div>
</section>
