<section>
	<mat-toolbar class="dialog-toolbar">
		<button mat-icon-button (click)="closeDialog()">
			<mat-icon>close</mat-icon>
		</button>
		<span class="dialog-toolbar-title">Add Budget</span>
		<button (click)="addBudget()" [disabled]="!addBudgetForm.valid" mat-button color="primary">
			<mat-icon>add_box</mat-icon>
		</button>
	</mat-toolbar>
	<form #addBudgetForm="ngForm" class="dialog-content dialog-form">
		<div class="dialog-form-element">
			For the month of {{month | localmonth}}
		</div>
		<category-dropdown [categories]="categories"
						   (selectedCategory)="category"
						   class="dialog-form-element"
		></category-dropdown>
		<div class="dialog-form-checkbox">
			<mat-checkbox [(ngModel)]="incomeBudget" name="incomeBudget">
				Income budget
			</mat-checkbox>
		</div>
		<div class="dialog-form-checkbox">
			<mat-checkbox [(ngModel)]="investmentBudget" name="investmentBudget">
				Investment budget
			</mat-checkbox>
		</div>
		<mat-form-field class="dialog-form-element">
			<input [(ngModel)]="amount" matInput type="number" placeholder="Amount" required name="amount">
		</mat-form-field>
	</form>
</section>
