@import "../../variables";

.app, mat-sidenav-container {
	display: flex;
	flex-flow: column;

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

main {
	max-width: $maxPageWidth;
	min-width: 360px;
	margin: 20px auto;

	flex: 1;
	overflow: auto;

	text-align: center;
}
