.app, md-sidenav-container {
	display: flex;
	flex-flow: column;

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;
}

main {
	max-width: 1200px;
	min-width: 400px;
	margin: 20px auto;

	flex: 1;
	overflow: auto;

	text-align: center;
}
