.month-picker {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 500px;
}

.left-button {
	flex-grow: 0;
}

.month-label {
	flex: 1 1;
	justify-content: center;
}

.right-button {
	flex-grow: 0;
}
