<section>
	<h2>Transactions</h2>
	<mat-list class="list">
		<ng-template ngFor [ngForOf]="transactionsByDate" let-transactionByDate>
			<h3 mat-subheader>{{transactionByDate.key | localdate}}</h3>

			<a *ngFor="let transaction of transactionByDate.values"
			   [routerLink]="['/transaction', transaction.transactionId]">

				<mat-list-item infiniteScroll [infiniteScrollDistance]="1" (scrolled)="fetchNextTransactionPage()"
							   class="list-box" [class]="{'temporary-transaction': transaction.temporary}">
					<p mat-line class="align-left">{{transaction.description}}</p>
					<p mat-line class="align-left">{{transaction.category?.name}}</p>
					<amount [amount]="transaction.amount"></amount>
				</mat-list-item>
			</a>
		</ng-template>
	</mat-list>
</section>
