<section>
	<h2>Transactions</h2>
	<mat-list class="list">
		<ng-template ngFor [ngForOf]="transactionsByDate" let-transactionByDate>
			<h3 mat-subheader>{{transactionByDate.key | localdate}}</h3>

			<mat-list-item *ngFor="let transaction of transactionByDate.values"
						  infiniteScroll [infiniteScrollDistance]="1" (scrolled)="fetchMoreTransactions()"
						  class="list-box">
				<p mat-line class="align-left">{{transaction.description}}</p>
				<p mat-line class="align-left">{{transaction.category.name}}</p>
				<amount [amount]="transaction.amount"></amount>
			</mat-list-item>
		</ng-template>
	</mat-list>
</section>
