<section>
	<h2>Transaction</h2>
	<mat-card *ngIf="transaction">
		<mat-card-content>
			<p>{{transaction.datetime | localdate}}</p>
			<div *ngIf="transaction.parentTransactionId" class="field">
				<label for="parentTransactionId" class="mat-body-2">Parent transaction id</label>
				<p id="parentTransactionId">{{transaction.parentTransactionId}}</p>
			</div>
			<div class="field">
				<label for="description" class="mat-body-2">Description</label>
				<p id="description">{{transaction.description}}</p>
			</div>
			<div class="field">
				<label for="amount" class="mat-body-2">Amount</label>
				<amount id="amount" [amount]="transaction.amount"></amount>
			</div>
			<div class="field">
				<label for="category" class="mat-body-2">Category</label>
				<mat-form-field id="category">
					<mat-select (selectionChange)="categorizeTransaction(transaction, $event.value)" [value]="selectedCategoryId">
						<mat-option *ngIf="selectedCategoryId === 'uncategorized'" value="uncategorized">Uncategorized</mat-option>
						<mat-option *ngFor="let category of categories" [value]="category.categoryId">
							{{category.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="field">
				<label for="amount" class="mat-body-2">Temporary</label>
				{{transaction.temporary ? 'Yes' : 'No'}}
			</div>
			<div class="field">
                <a *ngIf="!transaction.parentTransactionId && !transaction.temporary" [routerLink]="'/split-transaction/' + transaction.transactionId">
                    <p>
                        Split transaction
                    </p>
                </a>
				<button *ngIf="!transaction.parentTransactionId" (click)="deleteTransaction(transaction)" mat-raised-button color="primary">
					Delete
				</button>
			</div>
		</mat-card-content>
	</mat-card>
</section>
